.home__header h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 48px;
}
.home__header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 0%;
}

.home__header__img{
    filter: grayscale(100%);
    border: 3px solid var(--color-1);

    border-radius: 16px;
}
.home__header__buttons{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}
.darkmode .home__header__img{
    border: 3px solid var(--color-3);
}
@media (min-width: 768px) {
    .home__header__img{
        max-width: 240px;
        max-height: 240px;
    }
}