.language-selector {
    position: relative;
    display: inline-block;
  }
  
  .selected-language {
    display: flex;
    align-items: center;
    padding: 8px 12px;    
    cursor: pointer;
    border-radius: 4px;
  }
  
  .flag-icon {
    width: 20px;
    margin-right: 8px;
  }
  
  .language-list {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    z-index: 1;
  }
  
  .language-list li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .language-list li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-icon{
      margin-left: 10px;
  }